<!-- Content Header (Page header) -->
<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>Tambah Bea Lelang : {{ bulan | numberToMonth }} {{ tahun }}</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a [routerLink]="['/bealelang']">Bea Lelang</a></li>
          <li class="breadcrumb-item active">Tambah Bea {{ bulan | numberToMonth }}</li>
        </ol>
      </div>
    </div>
  </div>
  <!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
  <!-- Default box -->
  <div class="container-fluid">
    <div class="card">
      <div class="card-header">
        <a (click)="onBack()" class="btn btn-s"> <i class="fas fa-arrow-left"></i> Kembali </a>
      </div>
      <form [formGroup]="beaForm">
        <div class="card-body">
          <div class="row">
            <div class="form-group col-xl-6">
              <label for="exampleInputEmail1">Jenis Bea Lelang </label>
              <select class="form-control" formControlName="jenisBeaLelang">
                <option value="">-- Pilih Jenis Bea Lelang --</option>
                <option *ngIf="status !== 'Batal'" value="Pembeli">Pembeli</option>
                <option *ngIf="status !== 'Batal'" value="Penjual">Penjual</option>
                <option *ngIf="status === 'Batal'" value="Batal">Batal</option>
              </select>
            </div>
            <div class="form-group col-xl-6">
              <label for="exampleInputEmail1">Jenis Transaksi </label>
              <select class="form-control" formControlName="jenisTransaksi">
                <option value="BPN">BPN</option>
                <option value="SSBP">SSBP</option>
              </select>
            </div>
            <div class="form-group col-xl-6">
              <label for="exampleInputEmail1">NTPN </label>
              <input type="text" class="form-control" formControlName="nomorTransaksi" />
            </div>
            <div class="form-group col-xl-6">
              <label for="exampleInputEmail1">Nomor BPN / SSBP </label>
              <input type="text" class="form-control" id="suratttp" formControlName="nomorBPN" />
            </div>
            <!-- </div> -->
            <!-- <div class="row"> -->
            <div class="form-group col-xl-6">
              <label for="exampleInputEmail1">Kode MAP </label>
              <input type="number" class="form-control" formControlName="kodeMAP" max="999999" />
            </div>

            <div class="form-group col-xl-6">
              <label for="exampleInputEmail1">Pokok Lelang </label>
              <input
                currencyMask
                [options]="{
                  align: 'left',
                  precision: 0,
                  prefix: 'Rp '
                }"
                min="0"
                formControlName="pokokLelang"
                disabled
                class="form-control"
                id="tglsuratttp"
              />
            </div>
            <!-- </div> -->
            <!-- <div class="row"> -->
            <div
              *ngIf="
                beaForm.get('jenisBeaLelang').value !== 'Batal' && beaForm.get('jenisBeaLelang').value === 'Penjual'
              "
              class="form-group col-xl-6"
            >
              <label for="exampleInputEmail1">Bea Lelang Penjual </label>
              <input
                currencyMask
                [options]="{
                  align: 'left',
                  precision: 0,
                  prefix: 'Rp '
                }"
                min="0"
                formControlName="beaLelangPenjual"
                disabled
                class="form-control"
                id="tglsuratttp"
              />
            </div>
            <div
              *ngIf="
                beaForm.get('jenisBeaLelang').value !== 'Batal' && beaForm.get('jenisBeaLelang').value === 'Pembeli'
              "
              class="form-group col-xl-6"
            >
              <label for="exampleInputEmail1">Bea Lelang Pembeli </label>
              <input
                currencyMask
                [options]="{
                  align: 'left',
                  precision: 0,
                  prefix: 'Rp '
                }"
                min="0"
                formControlName="beaLelangPembeli"
                disabled
                class="form-control"
                id="tglsuratttp"
              />
            </div>
            <div *ngIf="beaForm.get('jenisBeaLelang').value === 'Batal'" class="form-group col-xl-6">
              <label for="exampleInputEmail1">Bea Lelang Batal </label>
              <input
                currencyMask
                [options]="{
                  align: 'left',
                  precision: 0,
                  prefix: 'Rp '
                }"
                min="0"
                formControlName="beaLelangBatal"
                disabled
                class="form-control"
                id="tglsuratttp"
              />
            </div>
            <!-- </div> -->
            <!-- <div class="row"> -->
            <div class="form-group col-xl-6">
              <label for="exampleInputEmail1">Tanggal Penyerahan Kutipan Risalah Lelang </label>
              <input
                type="text"
                class="form-control"
                id="tglsuratttp"
                [value]="
                  trans.tanggalPenyerahanKutipanRisalahLelang
                    ? trans.tanggalPenyerahanKutipanRisalahLelang.split('T')[0]
                    : ''
                "
                disabled
              />
            </div>
            <div class="form-group col-xl-6">
              <label for="tanggalSuratPenetapanJadwalLelang">Tanggal Lelang </label>
              <input
                type="text"
                onClick="showDatePicker(this);"
                [value]="trans.tanggalLelang ? trans.tanggalLelang.split('T')[0] : ''"
                disabled
                class="form-control"
              />
            </div>
            <!-- </div> -->
            <!-- <div class="row"> -->
            <div class="form-group col-xl-6">
              <label for="tanggalSuratPenetapanJadwalLelang">Tanggal Setor </label>
              <input type="date" formControlName="tanggalPenyetoran" class="form-control" />
            </div>
            <div class="form-group col-xl-6">
              <label for="exampleInputEmail1">Keterangan </label>
              <input type="text" class="form-control" formControlName="keterangan" />
            </div>
          </div>
          <div class="form-group">
            <label>Upload Bukti Bea Lelang (<0.5 Mb, format pdf)</label>
            <div class="input-group align-items-center d-flex">
              <label *ngIf="!isPreview" for="exampleInputFile" class="btn btn-md btn-info mb-0 mr-1">
                Choose File
              </label>
              <span
                *ngIf="fileName"
                [title]="fileName"
                class="mr-1"
                style="width: 300px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap"
                >{{ fileName }}</span
              >
              <input
                style="display: none"
                id="exampleInputFile"
                type="file"
                class="file-upload ml-1"
                accept="application/pdf"
                formControlName="fileJenisTransaksi"
                (change)="uploadFile($event)"
              />

              <div class="input-group-append">
                <a *ngIf="!isPreview && fileUpload" (click)="submitFile()" class="btn-transparent"
                  ><span class="input-group-text">Upload</span></a
                >&nbsp;
                <a
                  *ngIf="responseUpload"
                  target="_blank"
                  [href]="responseUpload ? responseUpload.data : ''"
                  class="btn-transparent"
                  ><span class="input-group-text">Preview</span></a
                >
              </div>
            </div>
          </div>
          <!-- Progress Bar -->
          <div class="progress form-group" *ngIf="prog > 0">
            <div class="progress-bar progress-bar-striped bg-success" role="progressbar" [style.width.%]="prog"></div>
          </div>
        </div>
      </form>
      <!-- /.card-body -->
      <div class="card-footer">
        <button *ngIf="!this.isPreview" type="button" (click)="savetransaksi()" class="btn btn-primary">
          Simpan Bea Lelang
        </button>
      </div>
      <!-- /.card-footer-->
    </div>
  </div>
  <!-- /.card -->
</section>
<!-- /.content -->
