<!-- Content Header (Page header) -->
<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>
          Laporan Penyetoran BPHTB Lelang : {{ bulan | numberToMonth }} {{ tahun }} <app-text-user></app-text-user>
        </h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a [routerLink]="['/bphlelang']">BPHTB</a></li>
          <li class="breadcrumb-item active">{{ bulan | numberToMonth }}</li>
        </ol>
      </div>
    </div>
  </div>
  <!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
  <div class="container-fluid">
    <div class="card">
      <div class="card-header">
        <div class="card-title">
          <a
            *ngIf="!isP2pk"
            [routerLink]="['/bphlanding', idperiode]"
            [queryParams]="{ tahun, bulan, parentId, term }"
            class="btn btn-s"
          >
            <i class="fas fa-arrow-left"></i> Kembali
          </a>
          <a
            *ngIf="isP2pk"
            [routerLink]="['/bobph']"
            [queryParams]="{ tahun, bulan, parentId, term, u: userId }"
            class="btn btn-s"
          >
            <i class="fas fa-arrow-left"></i> Kembali
          </a>
        </div>
        <div class="card-title" *ngIf="!isP2pk">
          <a [routerLink]="['/bphadd', 'trans', idtrans]" [queryParams]="{ tahun, bulan, idperiode, parentId, term }">
            <app-button class="mb-2" [block]="true" [loading]="false" [disabled]="false" [icon]="'blank'">
              Tambah BPHTB
            </app-button>
          </a>
        </div>

        <div class="card-title ml-2">
          <button type="button" class="btn btn-primary btn-block" (click)="exportExcel()">
            <i class="fa fa-download"></i> Download
          </button>
        </div>
        <!-- <div class="card-tools">
          <div class="input-group input-group-sm" style="width: 150px">
            <input type="text" name="table_search" class="form-control float-right" placeholder="Cari" />
            <div class="input-group-append">
              <button type="submit" class="btn btn-default">
                <i class="fas fa-search"></i>
              </button>
            </div>
          </div>
        </div> -->

        <div class="card-title ml-2 float-right" *ngIf="!isP2pk && drafts.length">
          <button type="button" class="btn btn-primary btn-block" (click)="onKirimAll()">
            <i class="fa fa-paper-plane"></i> Kirim
          </button>
        </div>
      </div>

      <div class="card-body table-responsive p-0">
        <table
          id="table-download"
          datatable
          [dtOptions]="dtOptions"
          [dtTrigger]="dtTrigger"
          class="table row-border hover"
        >
          <thead>
            <tr *ngIf="isWillDownload">
              <th colspan="8">{{ excelTitle }}</th>
            </tr>
            <tr *ngIf="!isWillDownload">
              <th>No.</th>
              <th>Status</th>
              <th>Status Penyampaian</th>
              <th>Tgl. Penyampaian Risalah</th>
              <th>Lot</th>
              <th>Luas Tanah</th>
              <th>Luas Bangunan</th>
              <th>NJOP/NOP</th>
              <th>Aksi</th>
            </tr>
            <tr *ngIf="isWillDownload">
              <th>No.</th>
              <th>Status</th>
              <th>Status Penyampaian</th>
              <th>Tgl. Penyampaian Risalah</th>
              <th>Lot</th>
              <th>Luas Tanah</th>
              <th>Luas Bangunan</th>
              <th>NJOP/NOP</th>

              <th>Nomor Risalah Lelang</th>
              <th>Tanggal Risalah Lelang</th>
              <th>Longitude</th>
              <th>Latitude</th>
              <th>Pokok Lelang</th>
              <th>Nilai SSB (BPHTB)</th>
              <th>Tanggal SSB</th>
              <th>Nilai SSP (PBB)</th>
              <th>Tanggal SSP</th>
              <th>Keterangan</th>
              <th>Tanggal Kirim</th>

              <th>Nama Penjual</th>
              <th>Alamat Penjual</th>
              <th>NPWP Penjual</th>
              <th>Nama Pembeli</th>
              <th>Alamat Pembeli</th>
              <th>NPWP Pembeli</th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngIf="isempty; else other_content">
              <tr>
                <td colspan="9" class="text-center">Data Transaksi kosong silahkan tambah risalah BPHTB</td>
              </tr>
            </ng-container>
            <ng-template #other_content>
              <tr *ngFor="let data of listTrans; let i = index">
                <td>{{ i + 1 }}</td>
                <td>{{ data.statusHakAtasTanah }}</td>
                <td>{{ formatStatus(data.statusPengiriman) }}</td>
                <td>{{ data.tanggalPenyampaianPetikanRisalahRapat?.split('T')[0] || '' }}</td>
                <td>{{ data.lot }}</td>
                <td>{{ data.luasTanah }}</td>
                <td>{{ data.luasBangunan }}</td>
                <td>{{ data.njopnop }}</td>

                <td *ngIf="isWillDownload">{{ data.nomorRisalahLelang }}</td>
                <td *ngIf="isWillDownload">{{ data.tanggalRisalahLelang?.split('T')[0] || '' }}</td>
                <td *ngIf="isWillDownload">{{ data.letaktanahBangunanLong }}</td>
                <td *ngIf="isWillDownload">{{ data.letaktanahBangunanLat }}</td>
                <td *ngIf="isWillDownload">{{ data.pokokLelang }}</td>
                <td *ngIf="isWillDownload">{{ data.nomorSSB }}</td>
                <td *ngIf="isWillDownload">{{ data.tanggalSSB?.split('T')[0] || '' }}</td>
                <td *ngIf="isWillDownload">{{ data.nomorSSP }}</td>
                <td *ngIf="isWillDownload">{{ data.tanggalSSP?.split('T')[0] || '' }}</td>
                <td *ngIf="isWillDownload">{{ data.keterangan }}</td>
                <td *ngIf="isWillDownload">{{ data.tanggalKirimBO?.split('T')[0] || '' }}</td>

                <td *ngIf="isWillDownload">{{ data.namaPenjual }}</td>
                <td *ngIf="isWillDownload">{{ data.alamatPenjual }}</td>
                <td *ngIf="isWillDownload">{{ data.npwpPenjual }}</td>

                <td *ngIf="isWillDownload">{{ data.namaPembeli }}</td>
                <td *ngIf="isWillDownload">{{ data.alamatPembeli }}</td>
                <td *ngIf="isWillDownload">{{ data.npwpPembeli }}</td>

                <td *ngIf="!isWillDownload">
                  <a
                    *ngIf="data.statusPengiriman == 'Draft Permohonan' && !isP2pk"
                    class="btn btn-s"
                    [routerLink]="['/bphadd', data.id]"
                    [queryParams]="{ tahun, bulan, idtrans, idperiode, parentId, term }"
                  >
                    <i class="fas fa-edit"></i> Edit
                  </a>
                  <a
                    *ngIf="data.statusPengiriman == 'Draft Permohonan' && !isP2pk"
                    class="btn btn-s"
                    (click)="onHapus(data.id)"
                  >
                    <i class="fas fa-trash"></i> Hapus
                  </a>
                  <a
                    *ngIf="data.statusPengiriman == 'Draft Permohonan' && !isP2pk"
                    class="btn btn-s"
                    (click)="onKirim(data.id)"
                  >
                    <i class="fas fa-envelope"></i> Kirim
                  </a>

                  <a
                    *ngIf="data.statusPengiriman != 'Draft Permohonan'"
                    class="btn btn-s"
                    (click)="hanldeCetakTandaTerima(data)"
                  >
                    <i class="fas fa-print"></i> Cetak
                  </a>

                  <a
                    [routerLink]="['/bphadd', 'preview', data.id]"
                    [queryParams]="{ tahun, bulan, idtrans, idperiode, parentId, term, u: userId }"
                    class="btn btn-s"
                  >
                    <i class="fas fa-inbox"></i> Detail
                  </a>
                  <a
                    *ngIf="isP2pk && data.statusPengiriman != 'Draft Permohonan'"
                    class="btn btn-s"
                    (click)="onKirim(data.id)"
                  >
                    <i class="fas fa-envelope"></i> Buka Akses
                  </a>
                </td>
              </tr>
            </ng-template>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <!-- /.card -->
</section>
<!-- /.content -->

<div style="display: none; z-index: -1" [class.d-flex]="isWillDownloadTandaTerima">
  <div style="height: 500px"></div>
  <app-tanda-terima type="Risalah Lelang untuk Penyetoran BPHTB" [data]="dataTandaTerima"></app-tanda-terima>
</div>

<!-- <div style="display: block; z-index: -1" [class.d-flex]="isWillDownloadTandaTerima">
  <div style="height: 500px"></div>
  <app-tanda-terima type="Jadwal Lelang" [data]="dataTandaTerima"></app-tanda-terima>
</div> -->
