<!-- Content Header (Page header) -->
<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>Penggunaan Kertas Sekuriti</h1>
        <h5>Periode: {{ tahun }}</h5>
      </div>
      <!-- <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a [routerLink]="['/kslelang']">Transaksi Lelang</a></li>
          <li class="breadcrumb-item">
            <a [routerLink]="['/kslist']" [queryParams]="{tahun}">{{ tahun }}</a>
          </li>
          <li class="breadcrumb-item">
            <a [routerLink]="['/kslanding', parentId]" [queryParams]="{ tahun, bulan, term }"
              >{{ bulan | numberToMonth }} - {{ term | termToLabel }}</a
            >
          </li>
          <li class="breadcrumb-item active">Detail</li>
        </ol>
      </div> -->
    </div>
  </div>
  <!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
  <div class="container-fluid">
    <div class="card">
      <div class="card-header">
        <div class="card-title">
          <a (click)="onBack()" class="btn btn-s">
            <!-- <a
            *ngIf="!isP2pk"
            [routerLink]="['/kslanding', parentId]"
            [queryParams]="{ tahun, bulan, term, parentId }"
            class="btn btn-s"
          > -->
            <i class="fas fa-arrow-left"></i> Kembali
          </a>
        </div>
        <div *ngIf="!isP2pk" class="card-title">
          <a
            [routerLink]="['/ksadd', 'periode', idjadwal]"
            [queryParams]="{ tahun, bulan, term, parentId }"
            [state]="{ dataKertas: listTrans }"
          >
            <app-button class="mb-2" [block]="true" [loading]="false" [disabled]="false" [icon]="'blank'">
              Tambah Kertas Sekuriti
            </app-button>
          </a>
        </div>

        <div class="card-title ml-2">
          <button type="button" class="btn btn-primary btn-block" (click)="exportExcel()">
            <i class="fa fa-download"></i> Download
          </button>
        </div>
        <!-- <div class="card-tools">
          <div class="input-group input-group-sm" style="width: 150px">
            <input type="text" name="table_search" class="form-control float-right" placeholder="Cari" />
            <div class="input-group-append">
              <button type="submit" class="btn btn-default">
                <i class="fas fa-search"></i>
              </button>
            </div>
          </div>
        </div> -->
      </div>

      <div class="card-body table-responsive p-0">
        <table
          id="table-download"
          datatable
          [dtOptions]="dtOptions"
          [dtTrigger]="dtTrigger"
          class="table row-border hover"
        >
          <thead>
            <tr *ngIf="isWillDownload">
              <th colspan="5">{{ excelTitle }}</th>
            </tr>
            <tr *ngIf="!isWillDownload">
              <!-- <th>No.</th> -->
              <th>Triwulan</th>
              <th>Jumlah Awal</th>
              <th>Penambahan</th>
              <th>Penggunaan</th>
              <th>Pengganti</th>
              <th>Rusak</th>
              <th>Hilang</th>
              <th>Sisa</th>
              <th>Status Data</th>
              <th>Tanggal Kirim</th>
              <th>Aksi</th>
            </tr>
            <tr *ngIf="isWillDownload">
              <!-- <th>No.</th> -->
              <th>Triwulan</th>
              <th>Jumlah Awal</th>

              <th>Nomor Risalah Lelang (Penambahan)</th>
              <th>Lot (Penambahan)</th>
              <th>Nomor Kertas Sekuriti Mulai (Penambahan)</th>
              <th>Tanggal Mutasi (Penambahan)</th>
              <th>Jumlah Mutasi (Penambahan)</th>

              <th>Nomor Risalah Lelang (Penggunaan)</th>
              <th>Lot (Penggunaan)</th>
              <th>Nomor Kertas Sekuriti Mulai (Penggunaan)</th>
              <th>Tanggal Mutasi (Penggunaan)</th>
              <th>Jumlah Mutasi (Penggunaan)</th>

              <th>Nomor Risalah Lelang (Pengganti)</th>
              <th>Lot (Pengganti)</th>
              <th>Nomor Kertas Sekuriti Mulai (Pengganti)</th>
              <th>Tanggal Mutasi (Pengganti)</th>
              <th>Jumlah Mutasi (Pengganti)</th>

              <th>Nomor Risalah Lelang (Rusak)</th>
              <th>Lot (Rusak)</th>
              <th>Nomor Kertas Sekuriti Mulai (Rusak)</th>
              <th>Tanggal Mutasi (Rusak)</th>
              <th>Jumlah Mutasi (Rusak)</th>

              <th>Nomor Risalah Lelang (Hilang)</th>
              <th>Lot (Hilang)</th>
              <th>Nomor Kertas Sekuriti Mulai (Hilang)</th>
              <th>Tanggal Mutasi (Hilang)</th>
              <th>Jumlah Mutasi (Hilang)</th>

              <th>Sisa</th>
              <th>Status Data</th>
              <th>Tanggal Kirim</th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngIf="isempty; else other_content">
              <tr>
                <td colspan="6" align="center">Data Kertas Sekuriti kosong silahkan tambah kertas sekuriti</td>
              </tr>
            </ng-container>
            <ng-template #other_content>
              <tr *ngFor="let data of listTrans; let i = index">
                <!-- <td>{{ i + 1 }}</td> -->
                <td>{{ data.triwulan }}</td>
                <td>{{ data.jumlahAwal }}</td>

                <td *ngIf="isWillDownload">{{ dataDownload[i]?.penambahanObj?.nomorRisalahLelang || '' }}</td>
                <td *ngIf="isWillDownload">{{ dataDownload[i]?.penambahanObj?.nomorLotRisalahLelang || '' }}</td>
                <td *ngIf="isWillDownload">{{ dataDownload[i]?.penambahanObj?.nomorKertasSekuriti || '' }}</td>
                <td *ngIf="isWillDownload">{{ dataDownload[i]?.penambahanObj?.tanggalMutasi || '' }}</td>
                <td>{{ data.penambahan }}</td>

                <td *ngIf="isWillDownload">{{ dataDownload[i]?.penggunaanObj?.nomorRisalahLelang || '' }}</td>
                <td *ngIf="isWillDownload">{{ dataDownload[i]?.penggunaanObj?.nomorLotRisalahLelang || '' }}</td>
                <td *ngIf="isWillDownload">{{ dataDownload[i]?.penggunaanObj?.nomorKertasSekuriti || '' }}</td>
                <td *ngIf="isWillDownload">{{ dataDownload[i]?.penggunaanObj?.tanggalMutasi || '' }}</td>
                <td>{{ data.penggunaan }}</td>

                <td *ngIf="isWillDownload">{{ dataDownload[i]?.kutipanPenggantiObj?.nomorRisalahLelang || '' }}</td>
                <td *ngIf="isWillDownload">{{ dataDownload[i]?.kutipanPenggantiObj?.nomorLotRisalahLelang || '' }}</td>
                <td *ngIf="isWillDownload">{{ dataDownload[i]?.kutipanPenggantiObj?.nomorKertasSekuriti || '' }}</td>
                <td *ngIf="isWillDownload">{{ dataDownload[i]?.kutipanPenggantiObj?.tanggalMutasi || '' }}</td>
                <td>{{ data.kutipanPengganti }}</td>

                <td *ngIf="isWillDownload">{{ dataDownload[i]?.rusakObj?.nomorRisalahLelang || '' }}</td>
                <td *ngIf="isWillDownload">{{ dataDownload[i]?.rusakObj?.nomorLotRisalahLelang || '' }}</td>
                <td *ngIf="isWillDownload">{{ dataDownload[i]?.rusakObj?.nomorKertasSekuriti || '' }}</td>
                <td *ngIf="isWillDownload">{{ dataDownload[i]?.rusakObj?.tanggalMutasi || '' }}</td>
                <td>{{ data.rusak }}</td>

                <td *ngIf="isWillDownload">{{ dataDownload[i]?.hilangObj?.nomorRisalahLelang || '' }}</td>
                <td *ngIf="isWillDownload">{{ dataDownload[i]?.hilangObj?.nomorLotRisalahLelang || '' }}</td>
                <td *ngIf="isWillDownload">{{ dataDownload[i]?.hilangObj?.nomorKertasSekuriti || '' }}</td>
                <td *ngIf="isWillDownload">{{ dataDownload[i]?.hilangObj?.tanggalMutasi || '' }}</td>
                <td>{{ data.hilang }}</td>

                <td>
                  {{
                    data.sisa !== null
                      ? data.sisa
                      : sisaFromParams({
                          jumlahAwal: data.jumlahAwal,
                          penambahan: data.penambahan,
                          penggunaan: data.penggunaan,
                          kutipanPengganti: data.kutipanPengganti,
                          rusak: data.rusak,
                          hilang: data.hilang
                        })
                  }}
                </td>
                <td>{{ formatStatus(data.statusPengiriman) }}</td>
                <td>{{ data.tanggalKirimBO?.split('T')[0] || '' }}</td>
                <td *ngIf="!isWillDownload">
                  <a
                    *ngIf="data.statusPengiriman == 'Draft Permohonan'"
                    class="btn btn-s"
                    [routerLink]="['/ksadd', data.id]"
                    [queryParams]="{ tahun, bulan, term, parentId, idjadwal }"
                  >
                    <i class="fas fa-edit"></i> Edit
                  </a>
                  <a *ngIf="data.statusPengiriman == 'Draft Permohonan'" class="btn btn-s" (click)="onHapus(data.id)">
                    <i class="fas fa-trash"></i> Hapus
                  </a>
                  <a *ngIf="data.statusPengiriman == 'Draft Permohonan'" class="btn btn-s" (click)="onKirim(data.id)">
                    <i class="fas fa-envelope"></i> Kirim
                  </a>

                  <a
                    *ngIf="data.statusPengiriman != 'Draft Permohonan'"
                    class="btn btn-s"
                    (click)="hanldeCetakTandaTerima(data)"
                  >
                    <i class="fas fa-print"></i> Cetak
                  </a>

                  <a
                    [routerLink]="['/ksadd', 'preview', data.id]"
                    [queryParams]="{ tahun, bulan, term, parentId, idjadwal, u: userId }"
                    class="btn btn-s"
                  >
                    <i class="fas fa-inbox"></i> Detail
                  </a>
                  <a
                    *ngIf="isP2pk && data.statusPengiriman != 'Draft Permohonan'"
                    class="btn btn-s"
                    (click)="onKirim(data.id)"
                  >
                    <i class="fas fa-envelope"></i> Buka Akses
                  </a>
                </td>
              </tr>
            </ng-template>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <!-- /.card -->
</section>
<!-- /.content -->

<div style="display: none; z-index: -1" [class.d-flex]="isWillDownloadTandaTerima">
  <div style="height: 500px"></div>
  <app-tanda-terima type="Penatausahaan Kertas Sekuriti" [data]="dataTandaTerima"></app-tanda-terima>
</div>

<!-- <div style="display: block; z-index: -1" [class.d-flex]="isWillDownloadTandaTerima">
  <div style="height: 500px"></div>
  <app-tanda-terima type="Jadwal Lelang" [data]="dataTandaTerima"></app-tanda-terima>
</div> -->
