<!-- Content Header (Page header) -->
<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>Transaksi Lelang Periode {{ tahun }} <app-text-user></app-text-user></h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a [routerLink]="['/transaksilelang']">Transaksi Lelang</a></li>
          <li class="breadcrumb-item active">{{ tahun }}</li>
        </ol>
      </div>
    </div>
  </div>
  <!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
  <div class="container-fluid">
    <div class="card">
      <div class="card-header">
        <a (click)="onBack()" class="btn btn-s"> <i class="fas fa-arrow-left"></i> Kembali </a>
        <!-- <div class="card-title"></div> -->
        <!-- <div class="card-tools"></div> -->
      </div>

      <div class="card-body table-responsive p-0">
        <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table row-border hover">
          <thead>
            <tr>
              <th>No.</th>
              <th>Bulan</th>
              <th *ngIf="type === 'bojadwal'">Term</th>
              <th>Aksi</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of listJadwal; let i = index">
              <td>{{ i + 1 }}</td>
              <td>{{ data.bulan | numberToMonth }}</td>
              <td *ngIf="type === 'bojadwal'">{{ data.term | termToLabel }}</td>
              <td>
                <a (click)="onClickDetail(data)">
                  <button type="button" class="btn btn-primary btn-block">
                    <i class="fa fa-info-circle"></i> Detail
                  </button>
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <!-- /.card -->
</section>
<!-- /.content -->
