<!-- Content Header (Page header) -->
<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>
          Laporan Penyetoran Bea Lelang : {{ bulan | numberToMonth }} {{ tahun }}
          <app-text-user></app-text-user>
        </h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a [routerLink]="['/bealelang']">Bea Lelang</a></li>
          <li class="breadcrumb-item active">{{ bulan | numberToMonth }}</li>
        </ol>
      </div>
    </div>
  </div>
  <!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
  <div class="container-fluid">
    <div class="card">
      <div class="card-header">
        <div class="card-title">
          <a
            *ngIf="!isP2pk"
            [routerLink]="['/bea', idperiode]"
            [queryParams]="{ tahun, bulan, term, parentId, beaLelangBatal }"
            class="btn btn-s"
          >
            <i class="fas fa-arrow-left"></i> Kembali
          </a>
          <a
            *ngIf="isP2pk"
            [routerLink]="['/bobea']"
            [queryParams]="{ tahun, bulan, term, parentId, u: userId }"
            class="btn btn-s"
          >
            <i class="fas fa-arrow-left"></i> Kembali
          </a>
        </div>
        <div class="card-title" *ngIf="!isP2pk">
          <a
            [routerLink]="['/beatambah', 'trans', idtrans]"
            [queryParams]="{ tahun, bulan, term, idperiode, parentId, status, beaLelangBatal }"
          >
            <app-button class="mb-2" [block]="true" [loading]="false" [disabled]="false" [icon]="'blank'">
              Tambah Data Bea Lelang
            </app-button>
          </a>
        </div>
        <div class="card-title ml-2">
          <button type="button" class="btn btn-primary btn-block" (click)="exportExcel()">
            <i class="fa fa-download"></i> Download
          </button>
        </div>

        <div class="card-title ml-2 float-right" *ngIf="!isP2pk && drafts.length">
          <button type="button" class="btn btn-primary btn-block" (click)="onKirimAll()">
            <i class="fa fa-paper-plane"></i> Kirim
          </button>
        </div>
      </div>

      <div class="card-body table-responsive p-0">
        <table
          id="table-download"
          datatable
          [dtOptions]="dtOptions"
          [dtTrigger]="dtTrigger"
          class="table row-border hover"
        >
          <thead>
            <tr *ngIf="isWillDownload">
              <th colspan="8">{{ excelTitle }}</th>
            </tr>
            <tr>
              <th>No.</th>
              <th>No. Risalah</th>
              <th>Jenis Bea Lelang</th>
              <th>Jenis Transaksi</th>
              <th>NTPN</th>
              <th>No. BPN</th>
              <th>Kode MAP</th>
              <th>Pokok Lelang</th>
              <th>Bea Lelang Penjual</th>
              <th>Bea Lelang Pembeli</th>
              <th>Bea Lelang Batal</th>
              <!-- <th >Tanggal Penyerahan Kutipan Risalah Lelang</th> -->
              <th>Tgl. Setor</th>
              <th>Tgl. Lelang</th>
              <th>Tgl. Kirim</th>
              <th>Keterangan</th>
              <th *ngIf="!isWillDownload">Aksi</th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngIf="isempty; else other_content">
              <tr>
                <td colspan="9" class="text-center">Data Bea Lelang kosong silahkan tambah data</td>
              </tr>
            </ng-container>
            <ng-template #other_content>
              <tr *ngFor="let data of listTrans; let i = index">
                <td>{{ i + 1 }}</td>
                <td>{{ data.nomorRisalahLelang }}</td>
                <td>{{ data.jenisBeaLelang }}</td>
                <td>{{ data.jenisTransaksi }}</td>
                <td>{{ data.nomorTransaksi }}</td>
                <td>{{ data.nomorBPN }}</td>
                <td>{{ data.kodeMAP }}</td>
                <td>{{ (data.jenisBeaLelang === 'Pembeli' ? data.pokokLelang : 0) | currency: 'Rp ' }}</td>
                <ng-container *ngIf="data.jenisBeaLelang === 'Batal'">
                  <td>{{ 0 | currency: 'Rp ' }}</td>
                  <td>{{ 0 | currency: 'Rp ' }}</td>
                  <td>{{ beaLelangBatal || data.beaLelangBatal | currency: 'Rp ' }}</td>
                </ng-container>
                <ng-container *ngIf="data.jenisBeaLelang !== 'Batal'">
                  <td>{{ (data.jenisBeaLelang === 'Penjual' ? data.beaLelangPenjual : 0) | currency: 'Rp ' }}</td>
                  <td>{{ (data.jenisBeaLelang === 'Pembeli' ? data.beaLelangPembeli : 0) | currency: 'Rp ' }}</td>
                  <td *ngIf="beaLelangBatal">{{ beaLelangBatal | currency: 'Rp ' }}</td>
                  <td *ngIf="!beaLelangBatal">-</td>
                </ng-container>
                <!-- <td >{{ data.tanggalPenyerahanKutipanRisalahLelang.split('T')[0] }}</td> -->
                <td>{{ data.tanggalPenyetoran.split('T')[0] }}</td>
                <td>{{ data.tanggalLelang.split('T')[0] }}</td>
                <td>{{ data.tanggalKirimBO?.split('T')[0] || '' }}</td>
                <td>{{ data.keterangan }}</td>
                <td *ngIf="!isWillDownload">
                  <a
                    *ngIf="data.statusPengiriman == 'Draft Permohonan' && !isP2pk"
                    class="btn btn-s"
                    [routerLink]="['/beatambah', data.id]"
                    [queryParams]="{ tahun, bulan, term, idtrans, idperiode, parentId, status, beaLelangBatal }"
                  >
                    <i class="fas fa-edit"></i> Edit
                  </a>
                  <a
                    *ngIf="data.statusPengiriman == 'Draft Permohonan' && !isP2pk"
                    class="btn btn-s"
                    (click)="onHapus(data.id)"
                  >
                    <i class="fas fa-trash"></i> Hapus
                  </a>
                  <a
                    *ngIf="data.statusPengiriman == 'Draft Permohonan' && !isP2pk"
                    class="btn btn-s"
                    (click)="onKirim(data.id)"
                  >
                    <i class="fas fa-envelope"></i> Kirim
                  </a>

                  <a
                    *ngIf="data.statusPengiriman != 'Draft Permohonan'"
                    class="btn btn-s"
                    (click)="hanldeCetakTandaTerima(data)"
                  >
                    <i class="fas fa-print"></i> Cetak
                  </a>

                  <a
                    [routerLink]="['/beatambah', 'preview', data.id]"
                    [queryParams]="{ tahun, bulan, term, idtrans, idperiode, parentId, status, u: userId, beaLelangBatal }"
                    class="btn btn-s"
                  >
                    <i class="fas fa-inbox"></i> Detail
                  </a>
                  <a
                    *ngIf="isP2pk && data.statusPengiriman != 'Draft Permohonan'"
                    class="btn btn-s"
                    (click)="onKirim(data.id)"
                  >
                    <i class="fas fa-envelope"></i> Buka Akses
                  </a>
                </td>
              </tr>
            </ng-template>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <!-- /.card -->
</section>
<!-- /.content -->

<div style="display: none; z-index: -1" [class.d-flex]="isWillDownloadTandaTerima">
  <div style="height: 500px"></div>
  <app-tanda-terima type="Penyetoran Bea Lelang" [data]="dataTandaTerima"></app-tanda-terima>
</div>

<!-- <div style="display: block; z-index: -1" [class.d-flex]="isWillDownloadTandaTerima">
  <div style="height: 500px"></div>
  <app-tanda-terima type="Jadwal Lelang" [data]="dataTandaTerima"></app-tanda-terima>
</div> -->
