<!-- Content Header (Page header) -->
<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>Tambah Kertas Sekuriti</h1>
        <h5>Periode: {{ tahun }}</h5>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item active">Tambah Kertas Sekuriti</li>
        </ol>
      </div>
    </div>
  </div>
  <!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
  <!-- Default box -->
  <div class="container-fluid">
    <div class="card">
      <div class="card-header">
        <div class="card-title">
          <a (click)="onBack()" class="btn btn-s">
            <!-- <a
            [routerLink]="['/transaksidetail', idjadwal]"
            [queryParams]="{ tahun, bulan, term, parentId }"
            class="btn btn-s"
          > -->
            <i class="fas fa-arrow-left"></i> Kembali
          </a>
        </div>
      </div>
      <div>
        <div class="card-body">
          <div class="tab-content" id="custom-tabs-three-tabContent">
            <div
              class="tab-pane fade active show"
              id="custom-tabs-three-home"
              role="tabpanel"
              aria-labelledby="custom-tabs-three-home-tab"
            >
              <div class="row">
                <div class="form-group col-xl-6">
                  <label>Triwulan </label>
                  <select [disabled]="!isAddMode" class="form-control" (change)="onSelectTriwulan($event.target.value)">
                    <option value="1">Pertama</option>
                    <option value="2">Kedua</option>
                    <option value="3">Ketiga</option>
                    <option value="4">Keempat</option>
                  </select>
                </div>
                <div class="form-group col-xl-6">
                  <label for="">Jumlah Awal</label>
                  <input [disabled]="isPreview" type="text" class="form-control" [(ngModel)]="data.jumlahAwal" />
                </div>
              </div>
            </div>
            <div *ngFor="let d of data.isiKertasSekuritiModels; let i = index">
              <h5 class="alert alert-info">{{ d.status }}</h5>
              <div class="row">
                <div class="form-group col-xl-6">
                  <label for="exampleInputEmail1">Nomor Risalah Lelang</label>
                  <select
                    [disabled]="isPreview"
                    class="form-control"
                    [value]="d.nomorRisalahLelang"
                    (change)="onSelectRegister($event.target.value, i)"
                  >
                    <option value="">-Pilih-</option>
                    <ng-container *ngFor="let t of listTrans; let i = index">
                      <option [value]="t.nomorRisalahLelang">{{ t.nomorRisalahLelang }} - {{ t.namaPenjual }}</option>
                    </ng-container>
                  </select>
                </div>
                <div class="form-group col-xl-6">
                  <label for="exampleInputEmail1">Lot</label>
                  <input
                    [disabled]="isPreview"
                    type="text"
                    class="form-control"
                    [(ngModel)]="d.nomorLotRisalahLelang"
                  />
                </div>
              </div>

              <div class="row">
                <div class="form-group col-xl-6">
                  <label for="exampleInputEmail1">No. Kertas Sekuriti Mulai</label>
                  <input [disabled]="isPreview" type="text" class="form-control" [(ngModel)]="d.nomorKertasSekuriti" />
                </div>
                <div class="form-group col-xl-6">
                  <label for="exampleInputEmail1">Tanggal Mutasi</label>
                  <input [disabled]="isPreview" type="date" class="form-control" [(ngModel)]="d.tanggalMutasi" />
                </div>
                <!-- <div class="form-group col-xl-6">
                  <label for="exampleInputEmail1">No. Kertas Sekuriti Akhir</label>
                  <input type="text" class="form-control" [(ngModel)]="d.nomorKertasSekuriti" />
                </div> -->
              </div>
              <div class="row">
                <div class="form-group col-xl-6">
                  <label for="exampleInputEmail1">Jumlah Mutasi</label>
                  <input [disabled]="isPreview" type="text" class="form-control" [(ngModel)]="d.jumlahMutasi" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- /.card-body -->
      <div class="card-footer" *ngIf="!isPreview">
        <button type="button" (click)="savetransaksi()" class="btn btn-primary">
          Simpan Penggunaan Kertas Sekuriti
        </button>
      </div>
      <!-- /.card-footer-->
    </div>
  </div>
  <!-- /.card -->
</section>
<!-- /.content -->
