<!-- Content Header (Page header) -->
<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>Transaksi Lelang : {{ bulan | numberToMonth }} {{ tahun }} {{ term | termToLabel }} - Detail</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a [routerLink]="['/transaksilelang']">Transaksi Lelang</a></li>
          <!-- <li class="breadcrumb-item">
            <a [routerLink]="['/transaksilist']" [queryParams]="{tahun}">{{ tahun }}</a>
          </li>
          <li class="breadcrumb-item">
            <a [routerLink]="['/transaksi', parentId]" [queryParams]="{ tahun, bulan, term }"
              >{{ bulan | numberToMonth }} - {{ term | termToLabel }}</a
            >
          </li> -->
          <li class="breadcrumb-item active">Detail</li>
        </ol>
      </div>
    </div>
  </div>
  <!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
  <div class="container-fluid">
    <div class="card">
      <div class="card-header">
        <div class="card-title">
          <a
            *ngIf="!isP2pk"
            [routerLink]="['/transaksi', parentId]"
            [queryParams]="{ tahun, bulan, term, parentId }"
            class="btn btn-s"
          >
            <i class="fas fa-arrow-left"></i> Kembali
          </a>
          <a *ngIf="isP2pk" [routerLink]="['/bo/botrans/list']" [queryParams]="{ tahun }" class="btn btn-s">
            <i class="fas fa-arrow-left"></i> Kembali
          </a>
        </div>
        <div *ngIf="!isP2pk" class="card-title">
          <a [routerLink]="['/transaksiadd', 'jadwal', idjadwal]" [queryParams]="{ tahun, bulan, term, parentId }">
            <app-button class="mb-2" [block]="true" [loading]="false" [disabled]="false" [icon]="'blank'">
              Tambah Transaksi
            </app-button>
          </a>
        </div>

        <div class="card-title ml-2">
          <button type="button" class="btn btn-primary btn-block" (click)="exportExcel()">
            <i class="fa fa-download"></i> Download
          </button>
        </div>
        <!-- <div class="card-tools">
          <div class="input-group input-group-sm" style="width: 150px">
            <input type="text" name="table_search" class="form-control float-right" placeholder="Cari" />
            <div class="input-group-append">
              <button type="submit" class="btn btn-default">
                <i class="fas fa-search"></i>
              </button>
            </div>
          </div>
        </div> -->
      </div>

      <div class="card-body table-responsive p-0">
        <table
          id="table-download"
          datatable
          [dtOptions]="dtOptions"
          [dtTrigger]="dtTrigger"
          class="table row-border hover"
        >
          <thead>
            <tr>
              <th>No.</th>
              <th>Status Lelang</th>
              <th>Status Data</th>
              <th>No Register</th>

              <th>No. Risalah</th>
              <th>Tanggal Risalah</th>
              <th>Penjual</th>
              <th>Tgl. Surat Penetapan</th>
              <th>Tgl. Lelang</th>
              <th *ngIf="!isWillDownload">Aksi</th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngIf="isempty; else other_content">
              <tr>
                <td colspan="9" align="center">Data Transaksi kosong silahkan tambah transaksi</td>
              </tr>
            </ng-container>
            <ng-template #other_content>
              <tr *ngFor="let data of listTrans; let i = index">
                <td>{{ i + 1 }}</td>
                <td>{{ data.status }}</td>
                <td>{{ formatStatus(data.statusPengiriman) }}</td>
                <td>{{ data.noRegisterLelang }}</td>
                <td>{{ data.nomorRisalahLelang }}</td>
                <td>{{ data.tanggalRisalahLelang.split('T')[0] }}</td>
                <td>{{ data.namaPenjual }}</td>
                <td>{{ data.tanggalLelang.split('T')[0] }}</td>
                <td>{{ data.tanggalPenyerahanKutipanRisalahLelang.split('T')[0] }}</td>
                <td *ngIf="!isWillDownload">
                  <a
                    *ngIf="data.statusPengiriman == 'Draft Permohonan'"
                    class="btn btn-s"
                    [routerLink]="['/transaksiadd', data.id]"
                    [queryParams]="{ tahun, bulan, term, parentId, idjadwal }"
                  >
                    <i class="fas fa-edit"></i> Edit
                  </a>
                  <a *ngIf="data.statusPengiriman == 'Draft Permohonan'" class="btn btn-s" (click)="onHapus(data.id)">
                    <i class="fas fa-trash"></i> Hapus
                  </a>
                  <a *ngIf="data.statusPengiriman == 'Draft Permohonan'" class="btn btn-s" (click)="onKirim(data.id)">
                    <i class="fas fa-envelope"></i> Kirim
                  </a>

                  <a
                    *ngIf="data.statusPengiriman != 'Draft Permohonan'"
                    class="btn btn-s"
                    (click)="hanldeCetakTandaTerima(data)"
                  >
                    <i class="fas fa-print"></i> Cetak
                  </a>

                  <a
                    [routerLink]="['/transaksiadd', 'preview', data.id]"
                    [queryParams]="{ tahun, bulan, term, parentId, idjadwal }"
                    class="btn btn-s"
                  >
                    <i class="fas fa-inbox"></i> Detail
                  </a>
                  <a
                    *ngIf="isP2pk && data.statusPengiriman != 'Draft Permohonan'"
                    class="btn btn-s"
                    (click)="onKirim(data.id)"
                  >
                    <i class="fas fa-envelope"></i> Buka Akses
                  </a>
                </td>
              </tr>
            </ng-template>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <!-- /.card -->
</section>
<!-- /.content -->

<div style="display: none; z-index: -1" [class.d-flex]="isWillDownloadTandaTerima">
  <div style="height: 500px"></div>
  <app-tanda-terima type="Transaksi Lelang" [data]="dataTandaTerima"></app-tanda-terima>
</div>

<!-- <div style="display: block; z-index: -1" [class.d-flex]="isWillDownloadTandaTerima">
  <div style="height: 500px"></div>
  <app-tanda-terima type="Jadwal Lelang" [data]="dataTandaTerima"></app-tanda-terima>
</div> -->
